<p id="notice"><%= notice %></p>

<h3>Listando dados upados pelos txt(s)</h3>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Buyer</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Address</th>
      <th scope="col">Owner</th>
      <th scope="col">Total da linha</th>
      <th scope="col">#</th>

    </tr>
  </thead>

  <tbody>
    <% @relatories.each do |relatory| %>
      <tr>
        <td><%= relatory.buyer %></td>
        <td><%= relatory.description %></td>
        <td><%= relatory.price %></td>
        <td><%= relatory.quantity %></td>
        <td><%= relatory.address %></td>
        <td><%= relatory.owner %></td>
        <td><%= relatory.price*relatory.quantity %></td>
        <td><%= link_to 'Mostrar', relatory ,class: "btn btn-primary btn-sm" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
