<p id="notice"><%= notice %></p>

<h1>Listing Relatories</h1>

<table>
  <thead>
    <tr>
      <th>Buyer</th>
      <th></th>
      <th>Description</th>
      <th></th>
      <th>Price</th>
      <th></th>
      <th>Quantity</th>
      <th></th>
      <th>Address</th>
      <th>String</th>
      <th>Owner</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relatories.each do |relatory| %>
      <tr>
        <td><%= relatory.buyer %></td>
        <td><%= relatory. %></td>
        <td><%= relatory.description %></td>
        <td><%= relatory. %></td>
        <td><%= relatory.price %></td>
        <td><%= relatory. %></td>
        <td><%= relatory.quantity %></td>
        <td><%= relatory. %></td>
        <td><%= relatory.address %></td>
        <td><%= relatory.string %></td>
        <td><%= relatory.owner %></td>
        <td><%= relatory. %></td>
        <td><%= link_to 'Show', relatory %></td>
        <td><%= link_to 'Edit', edit_relatory_path(relatory) %></td>
        <td><%= link_to 'Destroy', relatory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relatory', new_relatory_path %>
