<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer:</strong>
  <%= @relatory.buyer %>
</p>

<p>
  <strong>:</strong>
  <%= @relatory. %>
</p>

<p>
  <strong>Description:</strong>
  <%= @relatory.description %>
</p>

<p>
  <strong>:</strong>
  <%= @relatory. %>
</p>

<p>
  <strong>Price:</strong>
  <%= @relatory.price %>
</p>

<p>
  <strong>:</strong>
  <%= @relatory. %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @relatory.quantity %>
</p>

<p>
  <strong>:</strong>
  <%= @relatory. %>
</p>

<p>
  <strong>Address:</strong>
  <%= @relatory.address %>
</p>

<p>
  <strong>String:</strong>
  <%= @relatory.string %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @relatory.owner %>
</p>

<p>
  <strong>:</strong>
  <%= @relatory. %>
</p>

<%= link_to 'Edit', edit_relatory_path(@relatory) %> |
<%= link_to 'Back', relatories_path %>
