<p id="notice"><%= notice %></p>


<div class="card text-center">
  <div class="card-header">
    Comprador: <%= @relatory.buyer %> / Fornecedor: <%= @relatory.owner %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @relatory.description %></h5>
    <p class="card-text">Preço: <%= @relatory.price %>/Quantidade: <%= @relatory.quantity %></p>
  </div>
  <div class="card-footer text-muted">
    Endereço: <%= @relatory.address %>
  </div>
</div>
<br>
<%= link_to 'Voltar', relatories_path ,class: "btn btn-success btn-sm" %>
